workflows/aMrhFnRmTvN96yNn.json
{
  "active": false,
  "connections": {
    "PDF-to-Image API": {
      "main": [
        [
          {
            "node": "Resize Converted Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resize Converted Image": {
      "main": [
        [
          {
            "node": "Candidate Resume Analyser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Candidate Resume Analyser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Candidate Resume Analyser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Candidate Resume Analyser": {
      "main": [
        [
          {
            "node": "Should Proceed To Stage 2?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "PDF-to-Image API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-20T11:15:18.261Z",
  "id": "aMrhFnRmTvN96yNn",
  "meta": {
    "templateId": "2416",
    "templateCredsSetupCompleted": true
  },
  "name": "test image to pdf",
  "nodes": [
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"is_qualified\": true,\n\t\"reason\": \"\"\n}"
      },
      "id": "40bab53a-fcbc-4acc-8d59-c20b3e1b2697",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        2360,
        680
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "4dd69ba3-bf07-43b3-86b7-d94b07e9eea6",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.output.is_qualified }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "d75fb7ab-cfbc-419d-b803-deb9e99114ba",
      "name": "Should Proceed To Stage 2?",
      "type": "n8n-nodes-base.if",
      "position": [
        2520,
        520
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://stirling-pdf:8080/api/v1/convert/pdf/img",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "a1f82bd1-9a32-4688-8f59-ea84c325b756"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "imageFormat",
              "value": "webp"
            },
            {
              "name": "singleOrMultiple",
              "value": "multiple"
            },
            {
              "name": "pageNumbers",
              "value": "all"
            },
            {
              "name": "colorType",
              "value": "blackwhite"
            },
            {
              "name": "dpi",
              "value": "300"
            },
            {
              "parameterType": "formBinaryData",
              "name": "fileInput",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "d60214c6-c67e-4433-9121-4d54f782b19d",
      "name": "PDF-to-Image API",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1500,
        580
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "resize",
        "width": 75,
        "height": 75,
        "resizeOption": "percent",
        "options": {}
      },
      "id": "847de537-ad8f-47f5-a1c1-d207c3fc15ef",
      "name": "Resize Converted Image",
      "type": "n8n-nodes-base.editImage",
      "position": [
        1780,
        580
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-pro-latest",
        "options": {}
      },
      "id": "5fb6ac7e-b910-4dce-bba7-19b638fd817a",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        2160,
        680
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "fQaEq93BMt8jzq54",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Evaluate the candidate's resume.",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Assess the given Candiate Resume for the role of Plumber.\nDetermine if the candidate's skills match the role and if they qualify for an in-person interview."
            },
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary"
            }
          ]
        }
      },
      "id": "2580b583-544a-47ee-b248-9cca528c9866",
      "name": "Candidate Resume Analyser",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        2160,
        520
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "formTitle": "test",
        "formFields": {
          "values": [
            {
              "fieldLabel": "data",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        1120,
        560
      ],
      "id": "14d75e50-9695-4326-bf8d-476cfb3fc67c",
      "name": "On form submission",
      "webhookId": "ff1beb15-b84f-4a10-9a44-eaf576958f0a"
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-03-20T14:31:15.159Z",
  "versionId": "455f101b-64da-4903-85be-81c09b99acd4"
}